
/* 
Hero Section
Stats Section ✅
Programs Section (Strength, Cardio, Yoga, Fat Loss)
Featured Workouts
Diet Plans
BMI Calculator
Success Stories
Latest Articles
Footer */












/* Reset default spacing and apply default font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto Condensed, roboto, Microsoft JhengHei, sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}








/* Navbar container setup */
#nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    padding: 0 50px;
    background: #000000;
    position: fixed;
    color: wheat;
    width: 100%;
    top: 0;
    left: 0;
}

/* Wrapper for nav links */
.nav_links {
  display: flex;
  text-decoration: none;
}

/* Main navigation list */


.ul1{
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ul1 a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.ul1 a:hover{
    color: #ff4d4d;
}



/* Left logo wrapper */

.nav_logo1{
    display:flex;
    align-items:center;
      gap:18px;
    margin-left:20px;
    margin-right: -23px;
}

.logo1{
    width:52px;
    height:52px;
    object-fit:cover;
    /* filter: brightness(0) invert(1); */
    border-radius: 50px;
}

.brand-text h2{
    color:white;
    font-size:20px;
    font-weight:700;
    margin:0;
    letter-spacing:4px;
    
    /* font-size:20px;
    font-weight:700;
    letter-spacing:4px; */
}


.brand-text p{
    color:#cfcfcf;
    font-size:12px;
    margin:0;
    letter-spacing:1px;
}


/* FontAwesome icon styling */
.icon {
  color: rgb(255, 255, 255);
  font-size: 24px;
}

/* Sidebar checkbox (hidden) */
#firstcheck {
  display: none;
}

/* Hamburger (open sidebar) button */
.open_sidebar_button {
  padding: 0 20px;
  display: none;
}

/* Close sidebar button */
.close_sidebar_button {
  display: none;
}
.close_sidebar_button svg {
  fill: black;
}
.mobile-view {
  display: none;
}
.mobile-view-vertical-line {
  display: none;
}
.mobile-view-asuslogo {
  display: none;
}

/* sidebaroverly */
.sidebar_overly {
  display: none;
}
/* sidebaroverly end  */

.search-icon {
  height: 35px;
  width: 26px;
  margin-left: 12px;
  margin-top: 6px;
  margin-right: 5px;
}
.menu-label:hover {
  color: rgba(201, 61, 61, 0.816);
}
.submenu-toggle {
  display: none;
}
.menu-label {
  display: flex;
}
.submenu {
  display: none;
  background-color: rgb(255, 254, 254);
  position: relative;
  padding: 10px;
}


/* ARROW  */
.arrow {
  display: none;
}

/* ACCOUNT <!-- Logged In User --> */
.user-menu {
  display: none;
}







/* hero-section */









#hero-section {
  padding: 100px 50px 80px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* #hero-section .container {
  width: 100%;
  max-width: 1200px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
} */

#hero-section .container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px; /* 60 ki jagah */
}

#hero-content h1 span{
    color: #f59e0b;
}

#hero-content {
  flex: 1;
}

#hero-content h1 {
  font-size: 4rem;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #111;
}

#hero-content p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #666;
  margin-bottom: 30px;
  max-width: 550px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn-primary,
.btn-secondary {
  text-decoration: none;
  padding: 12px 28px;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.3s;
}

.btn-primary {
  background: #000;
  color: #fff;
}

.btn-primary:hover {
  transform: translateY(-2px);
}

.btn-secondary {
  border: 2px solid #000;
  color: #000;
}

.btn-secondary:hover {
  background: #000;
  color: #fff;
}

#hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

#hero-image1,
#hero-image2{
    width: 100%;
    display: none;
    max-width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}



/* #hero-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
} */
#hero-image img{
    width: 100%;
    max-width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
}


/* h222222 */


/* hero-section end  */

/* #motivation-section */
#motivation-section{
    padding: 100px 50px;
}

#motivation-section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.motivation-image{
    flex: 1;
}

/* .motivation-image img{
    width: 100%;
    max-width: 550px;
    height: 700px;
    object-fit: cover;
    border-radius: 20px;
} */
 .motivation-image img {
    width: 100%;
    max-width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
  }

.motivation-content{
    flex: 1;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}


/* State section start here */
#stats-section{
    padding: 80px 20px;
}

#stats-grid{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.stat-card{
    flex: 1;
    min-width: 220px;
    text-align: center;
    padding: 25px;
    border-radius: 15px;
    color: #ffedcf;
    background: #111;
}

.stat-card h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.stat-card p{
    font-size: 1rem;
}
/* State section end here */


/* Mobile */

@media (max-width: 600px){
    .stat-card{
        min-width: calc(50% - 10px);
        padding: 15px;
    }

    .stat-card h2{
        font-size: 2rem;
    }

    .stat-card p{
        font-size: 0.9rem;
    }
}
















/* responsive start  */
/* hover on big screen? */
@media (min-width: 1024px) {
  .ul1 li {
    position: relative;
    /* padding: 10px 0px; */
  }
  .nav_container {
    z-index: 1;
  }
  .ul1 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
  .submenu {
    display: none;
    position: absolute;
    top: 97%;
    /* top: 120%; */
    left: 0;
    background: white;
    z-index: 999;
    padding: 10px 0px;
    border: none;
    margin-top: 10px;
  }
  .ul1 li:hover > .submenu {
    display: block;
    margin-top: 1px;
    color: #000000;
    margin-left: -30px;
    padding-top: 0px;
    background-color: #ffedcf;
    border-radius: 15px;
    /* padding: 48px 50px 45px 50px; */
    padding: 25px 50px 45px 50px;
    
  }
  .ul1 > li {
    padding: 17px 0px;
  }
  /* Hide checkbox/radio in desktop */
  .submenu-toggle {
    display: none;
  }
  .submenu-header .arrow1 {
    display: none; /* optional: hide > arrow on desktop */
  }
  .submenu-header {
    display: none;
  }
  .arrow {
    display: none;
  }



 /* 
  ul2 formation */




.ul2{
    list-style:none;
    display:flex;
    gap:60px;
    width:400px;
}

.col1,
.col2{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.ul2 a{
    text-decoration:none;
    color:#000;
    font-size:16px;
}

.ul2 a:hover{
    color:#ff4d4d;
}









  .bottom-divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 30px 0 15px 0;
    border: none;
  }
  .asus-tuf-wrapper {
    width: 100%;
    max-width: 1200px;
    /* padding-left: 20px; */
    margin: 0 auto;
  }
  .asus-tuf {
    display: inline-block;
    font-weight: bold;
    color: black;
  }
  .asus-tuf a {
    color: #000;
  }
  /* u2 formation end  */

  /* ul3 ul4 ul5   formation start */
  .ul3,
  .ul4,
  .ul5 {
    display: inline-grid;
    gap: 17px;
    list-style-type: none;
  }
  .ul3 {
    width: 185px;
  }
  .ul4 {
    width: 165px;
  }
  .ul5 {
    width: 65px;
    padding: 0  0 0 0 ;
  }
 
  /* ul3 ul4 ul5   formation end  */
}








@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}










@media (max-width: 1400px), (max-width: 1350px) {
  .logo1 {
    margin-left: 0px;
  }
}
.nav_container {
  z-index: 1;
}

@media (max-width: 1310px) {
  .ul1 {
    gap: 40px;
  }
  .nav_container {
    justify-content: space-between;
    padding-right: 57px;
    z-index: 1;
  }
  .logo1 {
    margin-left: 0px;
  }
}

@media (max-width: 1095px) {
  .ul1 {
    gap: 20px;
  }
}

@media (max-width: 1025px) {
  .nav_links {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: white;
    transform: translate(-100%);
    transition: all 0.4s ease-in-out;
    margin-right: 0px;
  }

  .logo1 {
    width: 193px;
    height: 122px;
    transition: all 3s ease-in-out;
  }

  .ul1 {
    flex-direction: column;
    margin-top: 44px;
    padding-left: 20px;
    gap: 26px;
  }

  .ul1 a {
    color: black;
    font-size: 13px;
  }

  .menu-label {
    color: black;
    font-size: 25px;
  }
  /* size of open_sidebar_button svg */
  .open_sidebar_button svg {
    width: 24px;
    height: 24px;
            margin-left: -50px;

  }

  .close_sidebar_button {
    display: block;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 3;
    padding: 10px;
  }

  .open_sidebar_button {
    display: block;
  }

  #firstcheck:checked ~ .nav_links {
    transform: translate(0%);
    z-index: 3;
  }

  .mobile-view {
    display: block;
    width: 33px;
    margin-top: 10px;
    margin-left: 11px;
  }

  .mobile-view-vertical-line {
    display: block;
    width: 100%;
    margin: 29px 0 18px 0;
    padding: 0; /* Reset paddings */
  }

  .mobile-view-asuslogo {
    display: block;
    width: 81px;
    margin-top: 10px;
    margin-left: 11px;
  }

  .logo2 {
    display: none;
  }
  .vertical-line {
    display: none;
  }
  
  .nav_container {
    justify-content: space-between;
    padding-right: 15px;
  }

  /* sidebar_overly@media quary+ .submenu-toggle */
  #firstcheck:checked ~ .sidebar_overly {
    display: block;
    position: fixed;
    inset: 0; /* inset: 0; means top, right, bottom, and left are all set to 0, so the element covers the entire area of its positioned parent */
    background-color: #00000000;
    z-index: 2;
  }

  .logo3 {
    width: 23px;
    height: 23px;
  }

  .search-icon {
    height: 28px;
    width: 25px;
  }

  /* Submenu */
  .ul2 {
    display: block;
    z-index: 1000;
  }
  .ul2 a {
    color: #000000;
    font-size: 21px;
  }

  .submenu-toggle:checked ~ .submenu {
    display: block;
    position: absolute;
    background-color: #ffffff; /* or any theme */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .submenu-toggle:checked + .menu-label + .submenu {
    display: block;
    animation: slideIn 0.5s ease;
    width: 100%;
    margin-top: -40px;
    margin-left: 0px;
    padding-left: 62px;
    padding-bottom: 100px;
  }

  .asus-tuf-wrapper a {
    font-size: 20px;
  }
  .asus-tuf {
    display: inline-block;
    /* font-weight: bold; */
    color: black;
    padding-top: 10px;
  }
  .bottom-divider {
    display: none;
  }

  .ul3,
  .ul4,
  .ul5 {
    list-style: none;
    animation: slideIn 0.6s ease;
    width: 100%;
    margin-left: 0px;
    margin-top: 14px;
  }

  .ul3 a,
  .ul4 a,
  .ul5 a {
    font-size: 21px;
  }
  .ul3 li,
  .ul4 li,
  .ul5 li {
    margin-bottom: 35px; /* Adjust the value as needed */
  }
  .ul2 {
    list-style: none;
    padding-left: 0;
    animation: slideIn 0.6s ease;
  }

  .submenu-header {
    font-weight: bold;
    padding: 10px 0;
    display: block;
    cursor: pointer;
    color: black;
    font-size: 25px;
    animation: slideIn 0.6s ease;
    display: flex;
    align-items: center;
    margin-left: -36px;
    gap: 10px;
  }

  /* sidebar adjustment */
  .menu-label {
    display: flex;
    justify-content: space-between;
  }
  .arrow {
    display: block;
    justify-self: end;
    padding-right: 20px;
    line-height: 1;
    font-weight: 100;
    font-size: 47px;
  }

  /* end  */

  .arrow1 {
    font-size: 47px; /* Increase arrow size */
    margin-right: 8px; /* Space between arrow and text */
    display: inline-block;
    line-height: 1;
    color: red;
    font-weight: 150;
  }

  .ul2 li {
    margin: 35px 0;
    margin-top: 10px;
  }
}

@media (max-width: 1150px),
  (max-width: 950px),
  (max-width: 360px),
  (max-width: 325px),
  (max-width: 290px),
  (max-width: 260px),
  (max-width: 210px) {
  .nav_container {
    justify-content: space-between;
    padding-right: 15px;
    z-index: 1;
  }
}

@media (max-width: 1150px) {
  .logo1 {
    width: 50px;
    height: 50px;
  }

  .brand-text h2{
    font-size: 18px;
  }

  .brand-text p{
    font-size: 10px;
  }

}
@media (max-width: 768px) {
  .logo1{
    width:45px;
    height:45px;
  }

  .brand-text h2{
    font-size:16px;
  }

  .brand-text p{
    font-size:9px;
  }

   #hero-section {
    padding: 100px 20px 50px;
    margin-top: -50px;
  }

  #hero-section .container {
    flex-direction: column;
    text-align: center;
  }
  
  #hero-content h1 {
    font-size: 2.5rem;
  }
  
  
  
  #hero-content p {
    max-width: 100%;
  }
  
  .hero-buttons {
    justify-content: center;
  }
  

  #hero-image {
    gap: 20px;
  }
  #hero-image img {
    max-width: 150px;
    max-height: 150px;
    /* margin-right: 285px; */
  }
  #hero-image1  {
    display: block;
    max-width: 200px;
    max-height: 200px;
    /* margin-right: 285px; */
    border-radius: 25px;
  }
  #hero-image2 {
    display: block;
    max-width: 200px;
    max-height: 200px;
    /* margin-right: 285px; */
    border-radius: 25px;
  }
  


  /* motivation-section */
  #motivation-section {
   padding: 100px 20px 50px;
 }

 #motivation-section .container {
   flex-direction: column;
   text-align: center;
 }
  #motivation-content h2 {
    font-size: 2.5rem;
  }
  
  
  
  .motivation-content p {
    max-width: 100%;
  }

  
  .motivation-image img {
    max-width: 400px;
  }


}

@media (max-width: 480px) {
  .logo1{
    width:40px;
    height:40px;
  }

  .brand-text h2{
    font-size:14px;
    letter-spacing:2px;
  }

  .brand-text p{
    display:none;
  }
}



/* respnsive end  */